/* this file has all the css var for color and bg-color utility */
:root{
    --cta-clr1:#49c6e5;
    --cta-clr2:#49c6e5;
    --cta-clr3:#D9160B;
    --cta-clr4:#C00BD9;
    --cta-clr5:#820CF8;


    --white-bg:#fffbfa;
    --gray-bg: rgb(126,126,126);
    --dark-bg:rgb(51,51,51);
    --litegray-bg:rgb(211, 211, 211);
    --darkgray-bg:#626262;

    --white-txt:#fff;
    --black-txt:#1b1b1b;
    --gray-txt:#808080;

    --heighlited-txt:#FFFF00;
    
    --yellow-clr: #9e7c0e;
    --yellow-bg:#fff3cd;
    --yellow-border:#ffd038;

    --red-clr: #b41c29;
    --red-bg:#f8d7da;
    --red-border:#ff5362;

    --green-clr: #0c5a37;
    --green-bg:#d1e7dd;
    --green-border:#00eb81;

    --blue-clr:#0e2e5e;
    --blue-bg:#cfe2ff;
    --blue-border:#2a7fff;

    --liteblack-clr: #3d3131; 
    --liteblack-bg:#e2e3e5;
    --liteblack-border:#919191;

    --liteblue-clr:#0b7e97;
    --liteblue-bg:#cff4fc;
    --liteblue-border:#29d8ff;

    --badge-green:#1b7052;
    --badge-red:red;
    --badge-yellow:#ff9204;
    --badge-gray:#696b79;

    --footer-link-icn:var(--litegray-bg);
}